html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
    /*margin-bottom: 60px;*/
    background-color: lightseagreen;
}

.no-button-style {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0px;
}

p{
    color:black;
}
.heading {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 110px;
    color: darkgray
}
.headingFeed {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 90px;
    color: darkgray
}

.modal-title {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
}

.card, .list-group-item {
    background-color: #FCFCFC;
}

label {
    opacity: 0.7;
}

.field-validation-error {
    color: red;
    font-size: smaller;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}
/*<--- Hide arrows from number input --->*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.scroll {
    height: 100vh;
    overflow-y: scroll;
}
 /*Hide scrollbar for Chrome, Safari and Opera */
    .scroll::-webkit-scrollbar {
        display: none;
    }

 /*Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none; /*IE and Edge */
    scrollbar-width: none; /*Firefox*/
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-radius: 25px;
}
#txtarea {
    border-radius: 25px;
    background-color: #FCFCFC;
}
.post-area {
    background-color: white;
}

.comment-area {
    background-color: #FCFCFC;
}

.rounded-corners {
    border-radius: 25px;
}

.white {
    border-radius: 10px;
    border-style: solid;
    background-color: white;
}