@model SociableWebApp.Models.ResetPasswordMessage

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto card border-0 shadow rounded-3 mt-5">
            <div class="m-4">
                <form asp-action="EnterResetCode" asp-controller="Home">
                    <div class="text-center">
                        <h1 class="heading d-flex justify-content-center">sociable</h1>
                        <p class="m-0 mt-2">Enter the code you received </p>
                        <p>in your email below.</p>
                    </div>
                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-group mb-3">
                        <input asp-for="Code" type="text" class="form-control">

                    </div>
                     <div class="w-25 m-auto">
                        <div class="d-grid mt-4">
                        <button class="btn btn-primary fw-bold" type="submit">Submit</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>