@model SociableWebApp.Models.AppUser
@{
    ViewData["Title"] = "Sociable";
}
<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 mx-auto card border-0 shadow rounded-3 mt-5">
            <div class="m-4">
                <form asp-controller="Home" asp-action="Index">
                    <div class="text-center">
                        <h1 class="heading d-flex justify-content-center">sociable</h1>
                        <p class="m-0 mt-2">Sign in with an existing account </p>
                        <p>or create a new account.</p>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control" id="emailInput" placeholder="Email">
                        <label for="emailInput">Email</label>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                        <label for="passwordInput">Password</label>
                        <span asp-validation-for="Password"></span>
                    </div>
                    @Html.ValidationMessage("LoginFailed", new {@class = "text-danger"})
                    <div class="w-75 m-auto">
                        <div class="d-grid mt-4">
                            <button class="btn btn-primary text-uppercase fw-bold" id="button" type="submit" asp-controller="Home" asp-action="Index">Sign in</button>
                            <a class="text-center mt-1" style="text-decoration:none">Forgotten password?</a>
                        </div>
                    </div>
                    <hr />
                    <div class="text-center">
                        <p>Don't have an account? <b><a class="text-center mt-1" asp-controller="Home" asp-action="Register" style="text-decoration:none">Sign up</a></b></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <partial name="_LoginValidationScriptsPartial" />
}
<script>
    // Disable sign in button if fields are empty.
    const input1 = document.querySelector("#emailInput");
    const input2 = document.querySelector("#passwordInput");
    const btn = document.querySelector(".btn");
    btn.setAttribute("disabled","disabled");

    input1.addEventListener("input", validate);
    input2.addEventListener("input", validate);

    function validate(){
      if(input1.value === "" || input2.value === ""){
        btn.setAttribute("disabled","disabled");
      } else {
        btn.removeAttribute("disabled");
      }
    }
</script>